
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 2fr);
    grid-template-areas: "div2 div2 div5 div5" "div1 div1 div1 div1" "div3 div3 div3 div3" ". div7 div7 ." "div8 div8 div8 div8" "div6 div6 div9 div4" ;


}

.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-size: 20px;
    
}

.item1{
    grid-area:div1 ;

}

.item2{
    grid-area:div2 ;
}
.item3{
    grid-area:div3 ;
}

.item4{
    grid-area:div4 ;
}

.item5{
    grid-area:div5 ;
}

.item6{
    grid-area:div6 ;
}

.item7{
    grid-area:div7 ;
}

.item8{
    grid-area:div8 ;
}

.item9{
    grid-area:div9;
}